@using Count.Models;
@model List<Post>
@{
    ViewData["Title"] = "Feed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Feed</h1>

<div class="FeedCreateBand">
    <ul>
        <li>
            <a asp-area="" asp-controller="Post" asp-action="CreatePost">
                <span><i class="fas fa-user-edit"></i></span>
                <span>Create New Post </span>
            </a>
        </li>
    </ul>
</div>
@foreach (var post in Model.OrderByDescending(p => p.PostedOn))
{
    if (post.IsDelete == false)
    {
        <div class="Post">
            <ul>
                <li>
                    <span class="Initials">@post.Author.FirstName.Substring(0, 1)@post.Author.LastName.Substring(0, 1)</span>
                    <span>@post.Author.UserName</span>

                        @if (post.Author.UserName == User.Identity.Name)
                        {

                            <div style="float:right;" class="author-post-menu">
                                <div class="dropdown">
                                    <button class="dropbtn"><i class="fas fa-ellipsis-v"></i></button>
                                    <div class="dropdown-content">
                                        <a asp-area="" asp-controller="Post" asp-action="DetailsPost" asp-route-id="@post.Id"><i class="fas fa-info-circle"></i> Details </a>
                                        <a asp-area="" asp-controller="Post" asp-action="EditPost" asp-route-id="@post.Id"><i class="fas fa-edit"></i> Edit</a>
                                        <a asp-area="" asp-controller="Post" asp-action="DeletePost" asp-route-id="@post.Id"><i class="fas fa-trash"></i> Delete</a>
                                    </div>
                                </div>
                            </div>

                        }
                    <br />
                    <span style="color:#000000; font-size:15px;">
                        <i> @post.PostedOn</i>
                    </span>
                </li>
                <li>
                    <a asp-area="" asp-controller="Post" asp-action="DetailsPost" asp-route-id="@post.Id">
                        <h5>
                            @post.Title
                        </h5>
                        <span>
                            @post.Summary
                        </span>
                        <span>
                            <img />
                        </span>
                    </a>

                </li>
            </ul>
        </div>
    }

}